/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.enable-kili-toggle {
  align-items: center;
  flex-wrap: wrap;
}

.inside .enable-kili-toggle {
  display: flex;
  justify-content: space-between;
}

.enable-kili-toggle__title {
  font-weight: 700;
  margin-right: 5px;
}

.inside .enable-kili-toggle__title {
  font-weight: normal;
}

.kili-hidden {
  height: 0;
  opacity: 0;
}